/*home */
body{
	overflow:hidden;
	background:url('../images/bg.png') no-repeat fixed;
    background-size: cover;
}
footer{
	position: absolute;
	bottom:0;
	height:200px;
	width:100%;
}
.hills-container{
	position:absolute;
	left:-20px;
	bottom:-200px;
	z-index:2;
	height:100%;
	max-width:450px;
}
.waves-container{
	position:absolute;
	z-index:1;
	left:10%;
	bottom:-100px;
	height:100%;
	display:none;
}
.cloud{
	position:relative;
	top:-400px;
}
.slider-home{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	position:relative;
}
#boat{
	position:absolute;
	left:-200px;
	bottom:20px;
	display:none;
}
.home-content{
	background-color:rgba(200,200,200,0.53) !important;
	border-radius:20px;
}
div[data-child-frame]{
	border-radius:50%;
}
@media only screen and (max-width:767px){
	footer{
		display:none;
	}
	body{
		overflow:hidden;
	}
	.slider-home{
		width:100%;
		overflow:hidden;
		margin:0;
	}
}
@media only screen and (max-width:650px){
	div.slider-home .wrapper{
		width:200%;
		margin-left:-50%;
	}
	.slider-home{
		position:relative;
	}
}
@-moz-document url-prefix() {
  .slider-home{
		position:absolute;
		top:175px;
	}
}