@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Roboto);

@font-face {
  font-family: "And Black";
  src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
       url("../fonts/and_black.woff") format('woff'),
       url("../fonts/and_black.ttf") format('truetype');
}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}
body {
    padding-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background:#eef;
	font-family:'Roboto',sans-serif;
}
.best-separator{
	display:block; width:100%; clear:both; border-color:transparent;
}
/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    background: url('../images/text1920-400.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0 0 0;
}

/*
//timeline
//
*/
.team-container .col-sm-6{
	margin-top:12px;
}
.prize-container{
	background:#031019;
}
.sponsors-heading{
	font-family:'Fjalla One', Arial;
	border-bottom:1px solid #888;
	width:90%;
	margin-left:5%;
}
.sponsors-image{
	max-height:65px;
	max-width:90px;
	margin-left:auto;
	margin-right:auto;
}
.cover{
	background:url('../images/text1920-400.png') center center no-repeat;
	background-size:100% 100%;
	width:100%;
	min-height:200px;
}
@media (min-width:992px){
	.sponsors-container{
		margin-left:5%;
		width:95%;
	}
	.cover{
		background-size:cover; 
		height:400px;
	}
}
img
{
	vertical-align: middle;
}
.img-responsive
{
	display: block;
	height: auto;
	max-width: 100%;
}
.img-rounded
{
	border-radius: 3px;
}
.img-thumbnail
{
	background-color: #fff;
	border: 1px solid #ededf0;
	border-radius: 3px;
	display: inline-block;
	height: auto;
	line-height: 1.428571429;
	max-width: 100%;
	moz-transition: all .2s ease-in-out;
	o-transition: all .2s ease-in-out;
	padding: 2px;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
}
.img-circle
{
	border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #888;
        left: 50%;
        top: 20px;
        bottom: 20px;
        margin-left: -4px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        width: 50%;
        float: right;
        margin-bottom: 25px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -22px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #ddf;
                -webkit-box-shadow: 0 0 0 5px #ddf;
                box-shadow: 0 0 0 5px #ddf;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #ddd;
                padding: 1.7em;
                margin-left: 70px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #ddd transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: 'Roboto' ,sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }
                    
 /* ############ footer ######################*/


/************************************************************
*************************Footer******************************
*************************************************************/

.footer1 {
    background: #fff repeat scroll left top;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}



.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #27B3E7;;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/ 
.navbar{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.navbar-inverse {
    background-color: #FFF;
    border-color: #A3A3A7;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #28B4E7;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #27B3E7;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.nav li{
	text-align:center;
	font-family:'Roboto',sans-serif;
}
.navbar-inverse .navbar-nav>li>a {
    color: #747577;
}
.navbar{
	min-height:60px;
	padding-top:5px;
}

.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.btn-primary {
    color: #fff;
    background-color: #27B3E7;
    border-color: #27B3E7;
}
.btn-primary:hover {
    color: #fff;
    background-color: #27B3E7;
    border-color: #27B3E7;
}
.btn-primary:active {
    color: #fff;
    background-color: #27B3E7;
    border-color: #27B3E7;
}
.btn-primary:focus{
    color: #fff;
    background-color: #27B3E7;
    border-color: #27B3E7;
}
.btn-default:hover{
	background-color:rgba(39, 179, 231, 0.25);
}
.btn-default:focus{
	background-color:rgba(39, 179, 231, 0.25);
}
.btn-default:active{
	background-color:rgba(39, 179, 231, 0.25);
}
.well{
	background:#fff;
}
.technopark-header{
	border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
}
.technopark-header:first-child{
	margin-top:5px;
}
.tab-pane:before{
  display: block; 
  content: " "; 
  margin-top: -134px; 
  height: 134px; 
  visibility: hidden; 
}
.timeline-label h4{
	font-size:2vh;
	font-weight:bold;
}
.timeline-label blockquote{
	font-size:1.8vh;
}
.nav.navbar-nav li a:link{
	color:#747577;
	}
	.nav.navbar-nav li a:visited{
		color:#747577;
	}
	.nav.navbar-nav>li>a:hover{
		color:#747577;
	}
	.nav.navbar-nav>li>a:focus{
		color:#747577;
	}
	.nav.navbar-nav li a:active{
		color:#747577;
	}
@media only screen and (min-width: 768px){
	.navbar-nav.nav{
		float:right;
		margin-right:3%;
	}
	.nav.navbar-nav li a:link{
	height:55px;
	}
	.nav.navbar-nav li a:visited{
		height:55px;
	}
	.nav.navbar-nav>li>a:hover{
		border-bottom:solid 4px #27B3E7;
		height:55px;
	}
	.nav.navbar-nav>li>a:focus{
		border-bottom:solid 4px #27B3E7;
		height:55px;
	}
	.nav.navbar-nav li a:active{
		height:55px;
	}
	.login-button{
		background:#27B3E7 !important;
		border-bottom:none !important;
		height:50px !important;
		color:#fff !important;
		width:80px;
		margin-left:20px;
	}
	a.login-button:link{
		background:#27B3E7 !important;
		border-bottom:none !important;
	}
	a.login-button:hover{
		background:#337AB7 !important;
		border-bottom:none !important;
	}
	a.login-button:active{
		background:#27B3E7 !important;
		border-bottom:none !important;
	}
	a.login-button:focus{
		background:#27B3E7 !important;
		border-bottom:none !important;
	}
}


/*	###############					###############
	###############	IDEAS BROWSE	###############
	###############					###############
*/
.idea-thumb-container{
	padding:0px; border:0px; margin-bottom:85px;
}
.idea-thumb-heading{
	font-family:'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif; font-size:1.25em; text-align:center; margin-bottom:0.2em;
}
.idea-thumb-description{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; text-align:center; font-size:0.9em;
}
.idea-thumb-hr{
	margin:0; border-color:#efefef; width:90%; margin-left:5%;
}
.ratings{
	 background:#fff; padding-top:10px; padding-bottom:10px;
}
.idea-upvote-container{
	text-align:center; border-right:1px solid #efefef;
}
.idea-downvote-container{
	text-align:center;
}
.idea-vote-count{
	color:#546E7A; font-size:0.9em; text-align:center; margin-bottom:0;
}
.upvote-icon{
	display:block; margin-left:auto; margin-right:auto; background:url('../images/ideas/thumb-up.png'); width:30px; height:30px; background-size:100% 100%; cursor:pointer;
}
.downvote-icon{
	display:block; margin-left:auto; margin-right:auto; background:url('../images/ideas/thumb-down.png'); width:30px; height:30px; background-size:100% 100%; cursor:pointer;
}


/*	###############					###############
	###############	SOCIAL ICONS	###############
	###############					###############
*/


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #D3D3D3;   
}